*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  overflow: hidden;

  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  background: var(--background);
  color: var(--color);
}

* {
  text-rendering: optimizeLegibility;
}

body {
  font-family: Verdana, Geneva, sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.column {
  display: flex;
  flex-direction: column;
}

.fade-out {
  opacity: 0;
}
.fade-in {
  opacity: 1;
}