
html, body {
    font-family: sans-serif;
    font-size: 12px;
}


@media print {
    @page {
        size: auto; /* auto is the initial value */
        /* this affects the margin in the printer settings */
        margin: 25mm 25mm 25mm 25mm;
    }
    html, body {
        margin: 0 !important;
        padding: 0 !important;
    }
    .content {
        margin: 0!important;
        padding: 0!important;
    }

    .keep-together {
        page-break-inside: avoid!important;
    }
}


body {
    counter-reset: section
}

h1 {
    counter-reset: sub-section;
    margin-top: 3rem;
    page-break-before: auto;
    text-transform: uppercase;
    font-size: 1.5rem;
}

h2 {
    counter-reset: compisite
}

h3 {
    counter-reset: detail
}



h1:before {
    counter-increment: section;
    content: counter(section) " ";
}

h1 {
}


h2:before {
    counter-increment: sub-section;
    content: counter(section) "." counter(sub-section) " ";
}

h3:before {
    counter-increment: composite;
    content: counter(section) "." counter(sub-section) "." counter(composite) " ";
}

}

h4:before {
    counter-increment: detail;
    content: counter(section) "." counter(sub-section) "." counter(composite) "." counter(detail) " ";
}


.content {
    padding: 2cm;
}

ul.contains-task-list {
    list-style: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

    table td, table th {
        border: 1px solid #ddd;
        padding: 8px;
        min-height: 32px;
    }

    table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }


/* TABLE OF CONTENTS */
.toc {
}

    .toc .toc-1 {
        margin-left: 0rem;
    }

    .toc .toc-2 {
        margin-left: 1rem;
    }

    .toc .toc-3 {
        margin-left: 2rem;
    }

    .toc .toc-4 {
        margin-left: 4rem;
    }

    .toc .toc-5 {
        margin-left: 5rem;
    }
