/* https://www.pagedjs.org/documentation/02-getting-started-with-paged-js/ */



:root {
    --color-1: #303D4D;
    --color-1--light: #5c7ba0;
    --color-1--border: #39485f;
    --color-1--bg: #273241;
    --color-1--dark: #1b232e;
    --color-2--icon: #C2C5CC;
    --color-1--font: white;
    --color-1--alt: white;
    --color-2: #ff6c00;
    --color-2--dark: #803100;
    --color-2--alt: white;
    --color-3: #22A652;
    --color-3--font: #dfffea;
    --color-3--border: #76BD45;
    --color-3--alt: white;
}

html, body {
    font-family: "Computer Modern Sans", sans-serif;
    font-size: 14px;
}


@media print {
    @page {
        size: A4; /* auto is the initial value */
        /*         this affects the margin in the printer settings */
        margin: 22mm 22mm 22mm 22mm;
        orphans: 3;
        widows: 3;
    }

    @page :first {
        background: orange;
    }


    html, body {
        margin: 0 !important;
        padding: 0 !important;
        counter-reset: page-index;
    }

    .content {
        margin: 0 !important;
        padding: 0 !important;
    }

    .keep-together {
        page-break-inside: avoid !important;
    }

    .title-page {
        display: block !important;
        visibility: visible !important;
        margin-top: 9rem;
        page-break-after: always;
    }
}


body {
    counter-reset: section
}

h1 {
    counter-reset: sub-section;
    margin-top: 3rem;
    page-break-before: auto;
    font-size: 1.5rem;
}

h2 {
    counter-reset: compisite
}

h3 {
    counter-reset: detail
}



h1:before {
    counter-increment: section;
    content: counter(section) " ";
}

h1 {
}


h2:before {
    counter-increment: sub-section;
    content: counter(section) "." counter(sub-section) " ";
}

h3:before {
    counter-increment: composite;
    content: counter(section) "." counter(sub-section) "." counter(composite) " ";
}

}

h4:before {
    counter-increment: detail;
    content: counter(section) "." counter(sub-section) "." counter(composite) "." counter(detail) " ";
}

p {
    text-align: justify;
}

img {
    max-width: 100%;
}

svg {
    page-break-inside: avoid;
}

.content {
    padding: 2cm;
}

ul.contains-task-list {
    list-style: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

    table td, table th {
        border: 1px solid #ddd;
        padding: 8px;
        min-height: 32px;
    }

    table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }


    TABLE OF CONTENTS
    .toc {
    }

.toc .toc-1 {
    margin-left: 0rem;
}

.toc .toc-2 {
    margin-left: 1rem;
}

.toc .toc-3 {
    margin-left: 2rem;
}

.toc .toc-4 {
    margin-left: 4rem;
}

.toc .toc-5 {
    margin-left: 5rem;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

    blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    blockquote p {
        display: inline;
    }

.guideline {
    border: 1px solid var(--color-3);
    margin: 0 4rem 4rem 4rem;
}

    .guideline title {
        display: block;
        background-color: var(--color-3);
        padding: 0.5rem 1rem;
        color: var(--color-3--font);
    }

    .guideline dl {
        margin: 0;
        padding: 1rem 1rem 0 1rem;
    }

        .guideline dl dt {
            font-weight: bold;
        }

        .guideline dl dd:not(last-child) {
            margin: 0;
            margin-bottom: 1rem;
        }


.requirement {
    border: 1px solid var(--color-3);
    margin: 0 4rem 4rem 4rem;
}

    .requirement title {
        display: block;
        background-color: var(--color-3);
        padding: 0.5rem 1rem;
        color: var(--color-3--font);
    }

    .requirement dl {
        margin: 0;
        padding: 1rem 1rem 0 1rem;
    }

        .requirement dl dt {
            font-weight: bold;
        }

        .requirement dl dd:not(last-child) {
            margin: 0;
            margin-bottom: 1rem;
        }

.endpoint {
    border: 1px solid var(--color-1);
    margin: 0 4rem 4rem 4rem;
}

    .endpoint .title {
        display: block;
        background-color: var(--color-1);
        padding: 0.5rem 1rem;
        color: var(--color-1--font);
    }

    .endpoint dl {
        margin: 0;
        padding: 1rem 1rem 0 1rem;
    }

        .endpoint dl dt {
            font-weight: bold;
            display: inline-block;
            width: 70px;
        }

        .endpoint dl dd {
            display: inline-block;
            margin: 0;
        }


.title-page {
    visibility: hidden;
    display: none;
}

    .title-page .title-page--title,
    .title-page .title-page--author,
    .title-page .title-page--date {
        display: block;
        width: 100%;
        text-align: center;
    }

    .title-page .title-page--title {
        font-size: 5rem;
        margin-bottom: 2rem;
    }

        .title-page .title-page--title:after {
            content: "Powered by: ZDragon";
            display: block;
            font-weight: bold;
            color: orange;
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            font-size: 1rem;
        }

    .title-page .title-page--author {
        font-size: 2rem;
    }

    .title-page .title-page--date {
        font-size: 1rem;
    }

    .title-page img {
        margin-top: 5rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

        .title-page img:after {
        }
