/* https://www.pagedjs.org/documentation/02-getting-started-with-paged-js/ */
html, body {
    font-family: "Computer Modern Sans", sans-serif;
    font-size: 14px;
}


@media print {
    @page {
        size: A4; /* auto is the initial value */
        /*         this affects the margin in the printer settings */
        margin: 22mm 22mm 22mm 22mm;

        orphans: 3;
        widows: 3;
    }
    @page :first {
        background: orange;
    }
   

    html, body {
        margin: 0 !important;
        padding: 0 !important;
        counter-reset: page-index;
    }

    .content {
        margin: 0 !important;
        padding: 0 !important;
    }

    .keep-together {
        page-break-inside: avoid !important;
    }
}


body {
    counter-reset: section
}

h1 {
    counter-reset: sub-section;
    margin-top: 3rem;
    page-break-before: auto;
    font-size: 1.5rem;
}

h2 {
    counter-reset: compisite
}

h3 {
    counter-reset: detail
}



h1:before {
    counter-increment: section;
    content: counter(section) " ";
}

h1 {
}


h2:before {
    counter-increment: sub-section;
    content: counter(section) "." counter(sub-section) " ";
}

h3:before {
    counter-increment: composite;
    content: counter(section) "." counter(sub-section) "." counter(composite) " ";
}

}

h4:before {
    counter-increment: detail;
    content: counter(section) "." counter(sub-section) "." counter(composite) "." counter(detail) " ";
}

p {
    text-align: justify;
}

img {
    max-width: 100%;
}

.content {
    padding: 2cm;
}

ul.contains-task-list {
    list-style: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

    table td, table th {
        border: 1px solid #ddd;
        padding: 8px;
        min-height: 32px;
    }

    table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }


 TABLE OF CONTENTS 
.toc {
}

    .toc .toc-1 {
        margin-left: 0rem;
    }

    .toc .toc-2 {
        margin-left: 1rem;
    }

    .toc .toc-3 {
        margin-left: 2rem;
    }

    .toc .toc-4 {
        margin-left: 4rem;
    }

    .toc .toc-5 {
        margin-left: 5rem;
    }

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

    blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    blockquote p {
        display: inline;
    }