:root {
  --color-primary: #ff6c00;
  --color-primary--dark: #803100;
  --color-primary--alt: white;

  --color-secundary: #282d4f;
  --color-secundary--alt: white;


  

  --color-1: #303D4D;
  --color-1--light: #5c7ba0;
  --color-1--light2: #4995f3;
  --color-1--border: #39485f;
  --color-1--bg: #273241;
  --color-1--dark: #1b232e;
  --color-2--icon: #C2C5CC;
  --color-1--font: white;
  --color-1--alt: white;

  --color-2: #ff6c00;
  --color-2--dark: #803100;
  --color-2--alt: white;

  --color-3: #22A652;
  --color-3--font: #dfffea;
  --color-3--border: #76BD45;
  --color-3--alt: white;
  

  --color-warning: rgb(75, 5, 5);
  --color-warning--alt: white;

  --border-color: lightgray;

  --background: white;
  --color: rgb(31, 31, 31);

  --color-first: white;
}

.dark {
  --background: rgb(31, 31, 31);
  --color: rgb(243, 243, 243);
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  overflow: hidden;

  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  background: var(--background);
  color: var(--color);
}

* {
  text-rendering: optimizeLegibility;
}

body {
  font-family: Verdana, Geneva, sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.column {
  display: flex;
  flex-direction: column;
}

.fade-out {
  opacity: 0;
}
.fade-in {
  opacity: 1;
}
.mermaid > svg {
  text-align: center;
}
/* FOMRS */
.form {
  width: 100%;
}
.form .form--field {
  width: 100%;
  margin-bottom: 1rem;
  color: var(--color-1--font);
}
.form .form--field label {
  display: block;
  font-size: 0.6rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.form .form--field label:after {
  content: ":";
}
.form .form--field input,
.form .form--field textarea,
.form .form--field select {
  width: 100%;
}

.search,
input,
select,
option,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  border: 1px solid var(--color-1--border);
  background: var(--color-1--light);
  color: var(--color-1--dark);
  border-radius: 0;
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--color-1--border);
  -webkit-text-fill-color: var(--color-1--dark);
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

select {
  padding-right: 2rem;
  position: relative;
}

input:focus,
select:focus,
option:focus,
textarea:focus {
    outline-color: var(--color-3--border);
} 

.invalid {
  border: 1px solid red;
  color: red;
}
.error {
  color: red;
  text-align: center;
}

.form-field--container .error {
  text-align: right;
}

textarea {
  height: 150px;
}
table.table--glossary {
  border-collapse: collapse;
}
table.table--glossary td,
table.table--glossary th {
  padding: 1rem;
  text-align: left;
}
table.table--glossary td:last-child,
table.table--glossary th:last-child {
  padding-right: 4rem;
}
table.table--glossary td {
  border-bottom: 1px solid lightgray;
}
table.table--glossary thead {
  background: #fa6003;
}
table.table--glossary thead th {
  font-weight: normal;
  color: #ffffff;
}


.content table {
  border: 1px solid green;
}/* Button Styling */

button {
  border-radius: 0;
  box-shadow: none;
  padding: 0.5rem 1em;
  background: none;
  border: 1px solid gray;
  color: gray;
  transition: all 0.2s ease;
}

button:hover {
  background: rgb(238, 237, 237);
  cursor: pointer;
}

button.color--primary {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

button.color--primary:hover {
  background: var(--color-primary);
  color: var(--color-primary--alt);
}

button.warning {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

button.warning:hover {
  background: var(--color-primary);
  color: var(--color-primary--alt);
}

.file-explorer {
    /* padding: 1rem; */
}
.file-explorer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.file-explorer ul.indent-0 li {
    padding-left: 0;
}
.file-explorer ul.indent-1 li {
    padding-left: 1rem;
}
.file-explorer ul.indent-2 li {
    padding-left: 2rem;
}
.file-explorer ul.indent-3 li {
    padding-left: 3rem;
}
.file-explorer ul.indent-4 li {
    padding-left: 4rem;
}
.file-explorer ul.indent-5 li {
    padding-left: 5rem;
}

.file-explorer ul li {
    margin: 5px 0px;
}
.file-explorer ul li:hover {
    cursor: pointer;
}
.file-explorer ul li.selected {
    color: var(--color-secundary);
    font-weight: bolder;
    /* color: var(--color-secundary--alt); */
}
